.spacer {
  flex: 1 1 auto;
}

.main-body {
  max-width: 50%;
  padding-top: 20px;
  margin: 0 auto;

}

.main-body .mat-form-field {
  width: 100%;
}

.filter-container {
  width: 100%;
}

button {
  margin-right: 20px;
}
